<a href="https://colab.research.google.com/github/Onkar-2626/Machine-Learning-Assignment/blob/main/Assignment_No_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [184]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
print('Libraries imported.')

Libraries imported.

In [236]:
url = '/content/test.csv'
columns = ['sepal_length','sepal_width','petal_length','petal_width','class']
df = pd.read_csv(url, names=columns)
df.head()

,,,,,,sepal_length,sepal_width,petal_length,petal_width,class
NaN,Player,Span,Mat,Inns,NO,Runs,HS,100,50,0
0.0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,51,68,14
1.0,RT Ponting (AUS),1995-2012,168,287,29,13378,257,41,62,17
2.0,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,45,58,16
3.0,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,36,63,8

In [237]:
print('Shape:', df.shape)
print('\nColumn Names:', df.columns.tolist())
df.head()

Shape: (3002, 5)

Column Names: ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

,,,,,,sepal_length,sepal_width,petal_length,petal_width,class
NaN,Player,Span,Mat,Inns,NO,Runs,HS,100,50,0
0.0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,51,68,14
1.0,RT Ponting (AUS),1995-2012,168,287,29,13378,257,41,62,17
2.0,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,45,58,16
3.0,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,36,63,8

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3002 entries, (nan, 'Player', 'Span', 'Mat', 'Inns', 'NO') to (np.float64(0.0), 'JW Wilson (AUS)', '1956-1956', '1', '-', '-')
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  3002 non-null   object
 1   sepal_width   3002 non-null   object
 2   petal_length  3002 non-null   object
 3   petal_width   3002 non-null   object
 4   class         3002 non-null   object
dtypes: object(5)
memory usage: 295.5+ KB

In [239]:
df.describe()

       sepal_length sepal_width petal_length petal_width class
count          3002        3002         3002        3002  3002
unique         1189         466           41          57    35
top               0           5            0           0     0
freq             52          40         2203        1619   855

In [240]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [241]:
for col in df.select_dtypes(include=['float64','int64']).columns:
    df[col].fillna(df[col].mean(), inplace=True)

# Fill categorical values with mode
for col in df.select_dtypes(include=['object']).columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

df.isnull().sum()

/tmp/ipython-input-334461164.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [247]:
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]
print('Duplicates removed:', before - after)

Duplicates removed: 0

In [248]:
encoder = LabelEncoder()
df['class'] = encoder.fit_transform(df['class'])
df.head()

,,,,,,sepal_length,sepal_width,petal_length,petal_width,class
NaN,Player,Span,Mat,Inns,NO,Runs,HS,100,50,1
0.0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,51,68,7
1.0,RT Ponting (AUS),1995-2012,168,287,29,13378,257,41,62,10
2.0,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,45,58,9
3.0,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,36,63,33

In [250]:
scaler = StandardScaler()
cols = ['Player','Span','Mat','Inns']
df.head()

,,,,,,sepal_length,sepal_width,petal_length,petal_width,class
NaN,Player,Span,Mat,Inns,NO,Runs,HS,100,50,1
0.0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,51,68,7
1.0,RT Ponting (AUS),1995-2012,168,287,29,13378,257,41,62,10
2.0,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,45,58,9
3.0,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,36,63,33

In [251]:
df.to_csv('assignment2_cleaned', index=False)
print('Saved: assignment2_cleaned_iris.csv')

Saved: assignment2_cleaned_iris.csv

Conclusion : This code performs essential data preprocessing to prepare the dataset for machine learning. It loads the CSV file, explores the data structure, and checks for missing values. Missing numerical values are filled with the mean, while categorical values are filled using the mode. Duplicate records are removed to improve data quality. The class column is encoded into numerical form using Label Encoding. Finally, the cleaned dataset is saved for further analysis or model training.